body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.table {
    padding: 1rem;
    width: 808px;
}

.table img {
    padding-right: 25px;
}

h1 {
    font-size: 2.4rem;
    line-height: 1.16;
}

p {
    font-size: 1.8rem;
    line-height: 1.16;
}

.flex {
    padding: 1rem;
    width: 808px;
    display: flex;
    align-items: center;
    gap: 23px;
}

.absolute {
    width: 808px;
    height: 170px;
    position: relative;
}

.absolute div {
    position: absolute;
    top: 57px;
    left: 125px;
}

.absolute img {
    position: absolute;
    top: 35px;
}

.grid {
    width: 808px;
    display: grid;
    grid-template-columns: 100px 150px;
    gap: 23px;
    align-items: center;
}


.float {
    padding: 1rem;
    width: 808px;
    height: 170px;
}

.float div {
    padding-left: 125px;
    padding-top: 25px;
}

.float img {
    float: left;
}